doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title=documentTitle
    meta(name="description", description=documentDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    #root !{reactString}
    script.
      window.__INITIAL_STATE__ = !{initialState}
      window.__UA__ = !{userAgent}
    script(src=scriptURI)
